<template>
    <div class="container">
        <div class="card card-default">
            <div class="card-header">Main Menu</div>
            <div class="card-body">
            Leaderboard | Matchmaking | Achievements
            </div>
        </div>
    </div>
</template>
<script>
    export default {
    data() {
        return {
            //
        }
    },
    components: {
        //
    }
}
</script>