<template>
    <div class="container">
        <div class="card card-default">
            <div class="card-header">Home</div>
            <div class="card-body">
            <p>Home</p>
        </div>
        </div>
    </div>
</template>