<template>
    <div class="container">
        <div class="card card-default">
            <div class="card-header">Login</div>
            <div class="card-body">
                <div class="alert alert-danger" v-if="has_error">
                    <p>Login error</p>
                </div>
                <form autocomplete="off" @submit.prevent="login" method="post">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" class="form-control" placeholder="username" v-model="username" required>
                    </div>
                    <button type="submit" class="btn btn-default">Login</button>
                </form>
        </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                username: null,
                has_error: false
            }
        },
        mounted() {
            //
        },
        methods: {
            login() {
                // get the redirect object
                var redirect = this.$auth.redirect();
                var app = this;
                this.$auth.login({
                    params: {
                        username: app.username,
                    },
                    success: function() {
                        // handle redirection
                        const redirectTo = redirect ? redirect.from.name : 'dashboard';
                        this.$router.push({name: redirectTo})
                    },
                    error: function() {
                        app.has_error = true
                    },
                    rememberMe: true,
                    fetchUser: true
                })
            }
        }
    }
</script>