<template>
    <div id="main">
        <header id="header">
            <h1> Index </h1>
        </header>
        <div id="content">
            <router-view></router-view>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                //
            }
        },
        components: {
            //
        }
    }
</script>